
<h1>Votre commande à bien été prise en compte</h1>

Bonjour, <br /><br />

votre commande est validée en date du {{ datCom }} pour votre visite du {{ datVisite }}.<br />
<br />
<b><u>Détails</u>:</b><br /><br />

<b>Numéro de la commande :</b> {{ numCom }}<br /> 
{{ tabRecap|raw }}
<br /><br />
L'équipe du musée du Louvre vous remercie de votre commande.<br />

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSElBhfoEvGjcgcfuj6g8bWKoP1BYb2lAeeA-NvokHFFnpVbuffHQ" width="100">