html{ 
	height: 100%; 
}
body{
	background-image: url("../css/images/background.jpg");
	background-size:cover;
	height: 100%;
}
h1{
	color: white;
}
.container{
	background-color: silver;
	min-height: 100%;
	overflow: hidden;
	padding: 10px;
}
.stepActu{
	text-decoration: underline;
}
.ticketMEF{
	background-color:white;
	border-radius: 10px;
	margin: 5px;
}
#btn_bck{
	border-radius: 5px;
}