body{
	background-image: url("../css/images/background.jpg");
	background-size:cover;
	height: 100%;
}
h1{
	color: white;
}
.container{
	background-color: silver;
	min-height: 100%;
    height: 100%;
}
.fil{
	background-color: red;
	min-height: 100%;
    height: 100%;
}

.stepActu{
	text-decoration: underline;
}
.ticketMEF{
	background-color:LightGray;
	border-radius: 10px;
	margin: 5px;
}